[credential]
	helper = cache --timeout=3600
[user]
	name = Alex Long
	email = alex.long@invincea.com
[push]
	default = current
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[log]
	date = local
[init]
	templatedir = ~/.git_template
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[core]
	editor = vim
